#logo
{
    margin-left: 5px;
    vertical-align: text-top;
    width: 100px;
    height: 100px;
    background: url('../images/ivrToolkit100.jpg') no-repeat;
}
body {
    margin-top: 5px;
}
.title h1
{
    margin: 0;
    padding: 0;
}

a
{
    color: #028eb3;
    text-decoration: none;
}

a:hover
    {
        color: #60bfd8;
    }

h2 {
    color: #028eb3;    
}



